@charset "UTF-8";


/* Define a altura da viewport para centrar os elementos */
html, body {
    background-color: rgba(255, 228, 196, 0.329);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Para empilhar os elementos verticalmente */
    height: 100vh; /* Ocupa a altura total da viewport */
    text-align: center; /* Centraliza o texto */
}

/* Estilo para a imagem do logotipo */
.logo {
    max-width: 65%;
    height: auto;
    margin-bottom: 1px; /* Espaço entre o logotipo e os ícones sociais */
}

/* Estilo para o contêiner dos ícones sociais */
.social-icons {
    display: flex;
    flex-direction: column; /* Coloca os ícones em uma coluna */
    align-items: center; /* Centraliza os ícones */
    gap: 5px; /* Espaçamento entre os ícones */
    
}

/* Layout para telas maiores */
@media (min-width: 768px) {
    .social-icons {
        flex-direction: row; /* Alinha os ícones horizontalmente */
        justify-content: center; /* Centraliza horizontalmente */
    
    }
}


/* Estilo individual dos ícones sociais */
.social-icons>img {
    width: 30px; /* Tamanho dos ícones */
    height: auto;
    cursor: pointer; /* Muda o cursor ao passar sobre os ícones */
    transition: transform 0.3s ease; /* Animação para efeito ao passar o mouse */
}

.social-icons>img:hover {
    transform: scale(1.3); /* Aumenta o tamanho ao passar o mouse */
}


