@charset "UTF-8";

body {
    background-color: #faebd781;
}

.carousel-inner {
    background-color: #CCCCCC;
    border-radius: 10px;
}

#c1 {
    background-color: #535252;
    height: 800px;
    text-align: justify;
    color: rgb(252, 252, 252);
    overflow-y: scroll;
    
}

#c2 {
    background-color: #535252;
    font-size: small;
    height: 400px;
    text-align: justify;
    color: rgb(252, 252, 252);
    
    
}

#c3 {
    background-color: #535252;
    height: 730px;
    text-align: justify;
    color: rgb(252, 252, 252);

    
}


#v {
    background-color: #b7b5b5;
    width: 70vw;
    height: 50vh;
    border-radius: 10px;
}

#v1 {
    margin: auto;
}

#v2 {
    margin: auto;
}